@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #F2F2F2;
    --font-color: #0D0D0D;
    --green-light: #358C5B;
    --green-default: #038C33;
    --green-dark: #02732A;
    --font-principal: 'Roboto', sans-serif;
    --font-secundaria: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

h1 {
    font-size: 2rem;
    margin: 0.67rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0.83rem 0;
}

h3 {
    font-size: 1.17rem;
    margin: 1rem 0;
}

h4 {
    font-size: 1rem;
    margin: 1, 33rem 0;
}

p {
    margin: 1rem 0;
}

.container-conteudo {
    padding: 2rem;
}