.main-header {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    border-bottom: 0.15rem solid #b49c21;

}

.logo {
    width: 40vw;
    min-width: 300px;
    text-align: center;
    margin: 0 5%;
    padding: 0.5rem;
}

.logo img {
    width: 20%;
    padding: 0;
    margin: 0;
    vertical-align: middle;

}

.logo span {
    font-family: var(--font-secundaria);
    font-size: 120%;
    letter-spacing: 0, 2rem;
    font-weight: bolder;
    white-space: nowrap;
    padding: 0.5rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45vw;
    min-width: 300px;
    margin: 0 5%;
    padding: 0.5rem;
}

.user {
    width: 30vw;
    min-width: 100px;
    margin: auto;
    padding: 0.5rem;
}

nav {
    background-color: var(--green-dark);
}

.menu {
    margin: auto;
    width: 70%;
    min-height: 2rem;
}

.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.user ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.menu ul li a {
    display: inline-block;
    padding: 1rem 0;
    font: var(--font-secundaria);
    color: var(--background-color);
    text-decoration: none;
}

.menu ul li a:hover {
    color: #b49c21;
    text-shadow: 0.04rem 0.06rem 0.08rem var(--font-color);
}

.userLink a {
    font: var(--font-secundaria);
    font-size: 0.9rem;
    color: var(--font-color);
    text-decoration: underline var(--green-default);
    white-space: nowrap;

}

.userLink a:hover {
    color: var(--green-default);
    text-decoration: overline;
}

.cadastre a {
    font: var(--font-secundaria);
    font-size: 0.9rem;
    color: var(--background-color);
    text-decoration: none;
    background-color: var(--green-dark);
    padding: 0.4rem;
    border-radius: 0.5rem;
    white-space: nowrap;
}

.cadastre a:hover {
    background-color: var(--green-light);
    color: var(--font-color);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 730px) {

    .main-header {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        max-height: 100px;
        padding: 0;
    }

    .logo img {
        width: 35%;
    }

    .logo span {
        font-size: initial;
        position: relative;
        top: -25px;
        letter-spacing: unset;
        white-space: nowrap;
    }

    .right-side {
        padding-bottom: 0;
    }

    .user ul {
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        height: 70px;
    }

    .cadastre {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .menu {
        width: 95%;
        max-width: 350px;
        min-height: 2rem;
        font-size: 14px;
    }

}


@media screen and (max-width: 500px) {
    .user {
        width: auto;
        min-width: unset;
    }
}