.main-header {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    border-bottom: 0.1rem solid #dc6620;
        
}
.logo {
    width: 40vw;
    min-width: 300px;
    text-align: center;
    margin: 0 5%;
    padding: 0.5rem;
}
.logo img{
    width: 20%;
    vertical-align: middle;

}
.logo spam {
    font-family: var(--font-secundaria);
    font-size: 120%;
    letter-spacing: 0,2rem;   
    font-weight:bolder;
    white-space: nowrap;
    padding: 0.5rem;   
}
.right-side{  
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 45vw;
    min-width: 300px;
    margin: 0 5%;
    padding: 0.5rem;
}
.user {  
    width: 15vw;
    min-width: 100px;    
    margin: 0 auto auto 0;
    padding: 0.5rem;
}
.cadastre {    
    display: flex;
    justify-content: end;
    width: 20vw;
    min-width: 200px;
    margin: auto 0 0 auto;
    padding: 0.5rem;
    
}
nav {
    background-color: var(--green-dark);
}
.menu {
    margin: auto;
    width:70%;
    min-height: 2rem;  
}
.links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.user ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.menu ul li a{
    display:inline-block;
    padding: 1rem 0;
    font: var(--font-secundaria);
    color: var(--background-color);
    text-decoration: none;
}
.menu ul li a:hover {
    color: #dc6620;
    text-shadow:0.04rem 0.06rem 0.08rem  var(--font-color);
}
.user ul li a {
    font: var(--font-secundaria);
    font-size: 0.9rem;
    color: var(--font-color);
    text-decoration: underline var(--green-default);

}
.user ul li a:hover{
    color: var(--green-default);
    text-decoration: overline;
}
.cadastre ul li a{
    font:var(--font-secundaria);
    font-size: 0.9rem;
    color: var(--background-color);
    text-decoration: none;
    background-color: var(--green-dark);
    padding:0.4rem;
    border: 0.08rem solid #dc6620;
    border-radius: 0.5rem;
}
.cadastre ul li a:hover {
    background-color: var(--green-light);
    color: var(--font-color);
    padding: 0.4rem;
    border: 0.08rem solid var(--green-dark);
    border-radius: 0.5rem;
}

