h3 span, .value-service {
    color: var(--green-dark);
}

.value-service {
    font-weight: 600;
}


.container-reserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-input-data {
    width: 100%;
}

.container-input-data form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-input-data label {
    font-weight: 600;
    margin-left: 10px;
}

.container-dados,
.container-checkin,
.container-badroom-resume {
    width: 100%;
}

.container-dados div {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.container-input-data div input {
    margin-bottom: 35px;
    margin-top: 5px;
}

.container-checkin {
    display: flex;
    margin: 20px 0px;
    justify-content: center;
}

.container-checkin div {
    margin: 0px 10px;
}

.select-badroom-resume {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select-badroom {
    width: 60%;
}

.select-badroom li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid var(--green-dark);
}

.select-badroom li:last-child {
    border: none;
}

.select-badroom li input{
    width: fit-content;
    border: none;
    box-shadow: none;
}

.select-badroom img {
    width: 30%;
    margin-right: 30px;
}

.select-badroom h4,
.select-badroom p {
    margin-bottom: 10px;
}

.list-resume-checkin ul,
.select-badroom ul {
    list-style-type: none;
}

.price-label {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 900;
}

.price-label span {
    color: var(--green-dark)
}

.list-resume-checkin {
    padding: 30px;
    height: fit-content;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: solid 2px var(--green-dark);
    box-shadow: 5px 5px 5px #a0a0a0ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-resume-checkin .check-item {
    margin-bottom: 30px;
}

.list-resume-checkin p {
    margin: 10px;
}

button {
    margin-top: 2rem;
}

.green-button {
    width: 100%;
}

.botao-vazado {
    border: 2px solid var(--green-dark);
    color: var(--green-dark);
    background-color: white;
    /* margin-bottom: 80px; */
}

.botao-vazado:hover {
    color: white;
}

.list-modal {
    padding: 15px 0px;
    margin: 0;
    text-align: start;
}

.list-modal li {
    padding-bottom: 20px;
    padding: 0px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.list-modal li input{
    margin-right: 15px;
}

.container-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1150px) {
    .list-modal {
        padding: 15px 0px;
        margin: 0;
        text-align: start;
    }
    
    .list-modal li input{
        margin-right: 15px;
    }

    .select-badroom li {
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        margin: 40px auto;
    }

    .list-modal li {
        padding-bottom: 20px;
        padding: 0px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .select-badroom img {
        width: 100%;
        max-width: 300px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .select-badroom-resume {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .select-badroom {
        width: 100%;
    }

    .list-resume-checkin {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 875px) {

    .list-modal {
        padding: 15px 0px;
        margin: 0;
        text-align: start;
    }
    
    .list-modal li {
        padding-bottom: 20px;
        padding: 0px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .list-modal li input{
        margin-right: 15px;
    }

    .container-checkin {
        flex-direction: column;
    }

    .container-dados div,
    .container-checkin div {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 576px) { 
    .list-modal {
        padding: 15px 0px;
        margin: 0;
        text-align: start;
    }
    
    .list-modal li {
        padding-bottom: 20px;
        padding: 0px 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    .list-modal li input{
        margin-right: 15px;
    }
}