<footer>
    <div class="main-footer">
        <div class="nav-content">
            <h2>Continue Navegando:</h2>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="hotel.html">Hotel</a></li>
                    <li><a href="acomodacoes.html">Acomodações</a></li>
                    <li><a href="reservas.html">Reserva</a></li>
                </ul>
            </nav>
        </div>

        <div class="contacts-content">
            <div>
                <h2>Contato:</h2>
                <p class="contact-single">Telefone: (11) 99999-9999</p>
                <p class="contact-single">Email: contato@hotel-transilvania.com</p>
            </div>
            <br />
            <div>
                <h2>Endereço:</h2>
                <p>Alameda Santos, 960 - Cerqueira César São Paulo - SP</p>
            </div>
        </div>
    </div>
    <div class="footer-of-footer">
        <p>&copy; 2022 - Todos os direitos reservados</p>
    </div>
</footer>